<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Produto/Index">Produtos</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        @RenderBody() <!-- Este é o lugar onde o conteúdo específico da página será injetado -->
    </div>

    <footer>
        <p>&copy; 2024 - Produto API</p>
    </footer>
</body>
</html>
